version: '3.8'

services:
    db:
        image: postgres:15-alpine
        restart: always
        environment:
            - POSTGRES_USER=kipay
            - POSTGRES_PASSWORD=kipay
            - POSTGRES_DB=kipay
        ports:
            - '5432:5432'
        volumes:
            - db:/var/lib/postgresql/data
            - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
    db:
        driver: local
